<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Phaser にゃんこ大戦争風ゲーム</title>
    <!-- Phaser 3 ライブラリを CDN から読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>
    <style>
        /* 背景色など必要に応じてCSSで調整 */
        body {
            margin: 0;
            padding: 0;
            background-color: #333333;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <script src="{{ url_for('static', filename='js/game_entity.js') }}"></script>

</body>

</html>
